body{
   font-family: Arial, sans-serif;
  background: #f8f9fb;
  display: flex;
  justify-content: center;
  align-items: center;

  

}
.login-page{
  justify-content: center;
  align-items: center;
 background-color: antiquewhite;
  margin-top:100px;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
    border-radius: 8px;
}
button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
}  
#loginbtn:hover, #signupbtn:hover{
  background-color: #49e94e;
  color: white;
}      
input {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 40px;
}
#loginspan, #signupspan{
  color: #4CAF50;
  cursor: pointer;
}
#loginspan:hover, #signupspan:hover{
  color: #228625;
}
#signupform{
  display:none;
  height: 500px;
  width: 500px;
}
#loginform{
  height:300px;
 width: 300px;
}
#loginerror, #signuperror{
color: #b00020;
  background-color: #ffe5e5;
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  display: none;
}